<script th:src="@{/js/stocks-script.js}"></script>
<div class="row m-2 justify-content-center companies-container">
    <div class="row m-2">
        <div class="col-md-4 col-sm-12">
            <div id="companyData" th:attr="data-company-id=${companyId}"></div>
            <h3 id="stocksText"></h3>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="d-flex">
                <div id="companyLabel" class="d-flex align-items-center justify-content-end me-3">
                    <span>Select company:</span>
                </div>
                <select id="companiesDropdown" class="form-select" aria-label="Select Company">
                </select>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="d-flex">
                <div id="sortLabel" class="d-flex align-items-center justify-content-end me-3">
                    <span>Sorted by:</span>
                </div>
                <select id="sortFilterDropdown" class="form-select" aria-label="Select Sorting Method">
                    <option value="date-desc" selected>Date - closest to today</option>
                    <option value="date-asc">Date - furthest from today</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-12">
            <div class="table-responsive scrollable-table-container custom-shadow">
                <table id="stocksTable" class="table table-hover mb-0">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Last Transaction Price</th>
                        <th scope="col">Max. Price</th>
                        <th scope="col">Min. Price</th>
                        <th scope="col">Avg. Price</th>
                        <th scope="col">Percentage</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Turnover in BEST Denars</th>
                        <th scope="col">Total Turnover in Denars</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12">
            <div class="d-flex align-items-center justify-content-center mt-4">
                <button id="prevPage" class="btn btn-primary me-1 custom-shadow">Previous</button>
                <button id="nextPage" class="btn btn-primary ms-1 custom-shadow">Next</button>
            </div>
        </div>
    </div>
    <div class="row m-2 mt-4">
        <div class="col-md-8 col-sm-12">
            <h3>Technical Analysis Graph</h3>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="d-flex">
                <div id="yearLabel" class="d-flex align-items-center justify-content-end me-3">
                    <span>Select year:</span>
                </div>
                <select id="yearDropdown" class="form-select" aria-label="Select Year">

                </select>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-12">
            <div id="chartHolder" class="custom-shadow p-4">
                <canvas id="chart"></canvas>
            </div>
        </div>
    </div>
    <div class="row m-2 mt-4">
        <div class="col-12">
            <h3>Trend Indicators</h3>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-12">
            <div class="table-responsive scrollable-table-container custom-shadow">
                <table id="trendIndicatorsTable" class="table table-hover mb-0">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">For last 2 days available</th>
                        <th scope="col">For last 7 days available</th>
                        <th scope="col">For last 30 days available</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row m-2 mt-4">
        <div class="col-12">
            <h3>Momentum Indicators</h3>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-12">
            <div class="table-responsive scrollable-table-container custom-shadow">
                <table id="momentumIndicatorsTable" class="table table-hover mb-0">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">For last 2 days available</th>
                        <th scope="col">For last 7 days available</th>
                        <th scope="col">For last 30 days available</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row m-2 mt-4">
        <div class="col-12">
            <h3>Signals</h3>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-12">
            <div class="table-responsive scrollable-table-container custom-shadow">
                <table id="signalsTable" class="table table-hover mb-0">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Short-term trading</th>
                        <th scope="col">Long-term trading</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>